<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350926036855-v722hc5l0q7t2ji4f5h689814npbqifj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350926036855-v722hc5l0q7t2ji4f5h689814npbqifj</string>
	<key>API_KEY</key>
	<string>AIzaSyCfq7CXwTP1pG5lMJPZZ1O2SuLrNYLe404</string>
	<key>GCM_SENDER_ID</key>
	<string>350926036855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.swiftbook.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-20f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-20f1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350926036855:ios:de1b0b29f0f846a45e0b72</string>
</dict>
</plist>